{{ define "assign" }}
{{ template "header" .}}

<main class="mx-auto" style="width: 75%; margin-top: 30px;">
    <table class="table bg-light">
        <thead>
          <tr>
            <th scope="col">Class Id</th>
            <th scope="col">Class Name</th>
            <th scope="col">Assignment</th>
            <th scope="col">Description</th>
            <th scope="col">Points</th>
            <th scope="col">Due Date</th>
            <th scope="col">Time Estimate</th>
            <th scope="col">Modify</th>
          </tr>
        </thead>
        <tbody class="mx-auto">
        {{range .Assigns}}
          <tr style="vertical-align: middle;">
            <th scope="row">
                <a href="/assignment/{{ .Id }}" class="btn">{{ .Id }}</a>
            </th>
            <td>{{ .Class }}</td>
            <td>{{ .Title }}</td>
            <td>{{ .Description }}</td>
            <td>{{ .Points }}</td>
            <td>{{ .DueDate }}</td>
            <td>{{ .TimeEstimate }}</td>
            <td>
                <form method="POST" action="/assignment/modify">
                <input type="hidden" name="PK" value="{{.PK}}">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="modify" id="inlineRadio1" value="update">
                    <label class="form-check-label" for="inlineRadio1">Update</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="modify" id="inlineRadio2" value="delete">
                    <label class="form-check-label" for="inlineRadio2">Delete</label>
                </div>
                <input class="btn btn-dark" type="submit">
                </form>
            </td>
          </tr>
        {{end}}
        </tbody>
    </table>
</main>

{{ template "footer" .}}
{{ end }}